<link rel="stylesheet" href="./style.css" type="text">
<div class="">

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ms-auto y-4 p-4">
          <li class="nav-item active">
            <a class="nav-link" href="/"><button type="button" class="btn btn-success">Headlines </button><span class="sr-only"></span></a>
          </li> <br> <br>
          <li class="nav-item">
            <a class="nav-link" href="/{{'categories/Business'}}"><button type="button" class="btn btn-success">BusinessToday</button></a>
          </li> <br> <br>         
          <li class="nav-item">
            <a class="nav-link" href="/{{'categories/Sports'}}"><button type="button" class="btn btn-success">SportsToday</button></a>
          </li>
        </ul>
       
      </div>
    </nav>
  </div>
  
  